@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
    background-color: #FFFFFF;
    font-family: "Outfit";
}

a{
    text-decoration: none;
}

.cabecalho{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-menu{
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #444444;
    text-decoration: none;
    margin-right: 32px;
}

.menu{
    padding-top: 22px;
    padding-bottom: 22px;
    display: flex;
    align-items: center;
    margin-right: 112px;
    white-space: nowrap;
    gap: 16px;
}

.menu2{
    display: flex;
    align-items: center;
    margin-left: 112px;
}

.botao-contato{
    font-size: 12px;
    line-height: 16px;
    font-weight: 600;
    color: #FFFFFF;
    text-decoration: none;
    padding: 12px 20px 12px 20px;
    gap: 4px;
    background-color: #996830;
    text-align: center;
    display: flex;
    width: 97px;
    height: 40px;
    font-family: "Outfit";
    justify-content: center;
    border: 0px solid #996830;
    margin-right: -32px;
}

.logo2{
    margin-left: 56.55px;
    width: 24px;
    height: 7px;
    position: absolute;
}

.content{
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    height: 184px;
    gap: 24px;
}

.titulo{
    font-family: "Playfair Display";
    font-weight: 500;
    font-size: 72px;
    line-height: 96px;
    letter-spacing: -2.5%;
    text-align: center;
    color: #2C2C2C;
}

.texto{
    font-family: "Outfit";
    font-weight: 300;
    line-height: 32px;
    size: 20px;
    text-align: center;
    color: #444444;
    height: 64px;
    margin-top: 24px;
}

.bg1{
    margin-top: 80px;
    width: 100%;
}

.awards{
    background-color: #2C2C2C;
    padding: 24px 112px 24px 112px;
    gap: 10px;
    margin-top: -2px;
}

.treco{
    position: absolute;
    margin-left: 112px;
    margin-top: 12px;
}

.bg{
    position: relative;
    display: flex;
}

.menu3{
    display: flex;
    margin-top: 128px;
    margin-left: 112px;
    margin-right: 112px;
    gap: 32px;
    justify-content: space-between;
    position: relative;
}

.content2{
    gap: 24px;
    align-items: center;
    margin-top: 66px;
}

.sobre{
    border: 0;
    border-top: 1px solid #996830;
    margin: 1em 0;
    width: 64px;
}

.nos{
    color: #996830;
    font-family: "Outfit";
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 10%;
    line-height: 20px;
    margin-left: 16px;
}

.titulo2{
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2.5%;
    text-align: left;
    margin-top: 24px;
    color: #2C2C2C;
    align-items: center;
}

.sobre-nos{
    display: flex;
    align-items: center;
    justify-content: left;
}

.lorem{
    font-family: "Outfit";
    font-weight: 300;
    font-size: 18px;
    line-height: 32px;
    letter-spacing: 0;
    align-items: center;
    margin-top: 24px;
    width: 592px;
    color: #444444;
}

.imagens{
    margin-right: 8px;
    display: flex;
}

.casa2{
    margin-top: 80px;
}

.casa1{
    margin-bottom: 80px;
    margin-right: 16px;
}

.logo3{
    position: absolute;
    margin-top: -9px;
    margin-left: 296px;
}

.logo4{
    position: absolute;
    margin-left: 248px;
    margin-top: -56px;
}

.metrics{
    display: flex;
    margin-top: 128px;
    margin-left: 112px;
    margin-right: 112px;
    padding-right: 112px;
    padding-left: 112px;
    padding-bottom: 48px;
    justify-content: space-between;
    gap: 80px;
}

.numeros{
    font-family: "Playfair Display";
    font-weight: 400;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: -2.5%;
    align-items: center;
    color: #2C2C2C;
    height: 72px;
}

.textos{
    font-family: "Outfit";
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 5%;
    align-items: center;
    margin-top: 20px;
    width: 233px;
    padding-top: 8px;
    gap: 10px;
    color: #2C2C2C;
}

.nt1{
    display: flex;
    gap: 16px;
    width: 384px;
}

.nt2{
    display: flex;
    gap: 16px;
    width: 384px;
    margin-left: 32px;
}

.nt3{
    display: flex;
    gap: 16px;
    width: 384px;
    margin-left: 32px;
}

.metrics-line{
    border: 1px solid #D9D9D6;
    width: 1216px;
    justify-content: center;
}